apiVersion: apps/v1
kind: Deployment
metadata:
  name: result
spec:
  
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - name: result
        image: manodayahire/vote-result:v1
        
        ports:
        - containerPort: 3000
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: result
spec:
  selector:
    app: result
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30090
  type: NodePort